    <div class="wrapper">
      <header>
        <h1>Michel Blaauw</h1>
        <h3>Driven By Data</h3>
        <p>
        currently working as freelance Data Scientist / Analyst in the Netherlands area
        </p>

        <img src="{{ site.url }}/static/me.jpg" style="border:5px solid black">

        <br><br>

        <div align="center">
			<a class="btn btn-social-icon btn-github" href="https://github.com/mblaauw">
				<i class="fa fa-github"></i>
			</a>

			<a class="btn btn-social-icon btn-reddit" href="http://stackoverflow.com/users/2848578/nicole-white">
				<img src="http://sstatic.net/stackoverflow/img/apple-touch-icon.png">
			</a>

			<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/_nicolemargaret">
				<i class="fa fa-twitter"></i>
			</a>
			
			<a class="btn btn-social-icon btn-linkedin" href="https://nl.linkedin.com/in/michelblaauw">
				<i class="fa fa-linkedin"></i>
			</a>

			<a class="btn btn-social-icon btn-google" href="mailto:michel.blaauw@gmail.com">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>
		
      </header>
